extends layout

block content

  ul.breadcrumb
        li
          a(href='/') Home
          span.divider /
       
        li.active #{lingua.Contact}

        

  div.row
      div.span8
        h2
          | #{lingua.Contact}

        hr

        table.table.table-condensed.table-striped
          colgroup
            col(width='50%')
            col(width='50%')
          thead
            tr
              th(colspan=2)  #{lingua.ContactIntro}
          tbody
            tr
              td
                i.icon-user 
                | &nbsp; #{lingua.Telephone}
              td
                | +43 (0)650 9117814
            tr
              td 
                i.icon-envelope 
                | &nbsp; #{lingua.Email}
              td 
                a(href='mailto:info@haus-voithofer.com?subject=Anfrage Haus-Voithofer')
                  | info@haus-voithofer.com

        script(type="text/javascript")
         var RecaptchaOptions = {
            theme : 'clean'
         };

        form
          fieldset
            legend Senden Sie uns eine Nachricht
            label.strong Name
            input.span4(type="text", name="name", placeholder="Name…", id="name")
            label.strong Email
            input.span4(type="email", name="email", placeholder="Email...", id="email")
            label.strong #{lingua.Message}
            textarea.span8(rows="5", name="message", id="message")

            span 
              strong #{lingua.CaptchaMessage}
            | <script type="text/javascript"
            |    src="http://www.google.com/recaptcha/api/challenge?k=6LdpcN4SAAAAACX62A9xsZPZ_Jbrdx1aD9Q1Dy7Z">
            | </script>
            | <noscript>
            |    <iframe src="http://www.google.com/recaptcha/api/noscript?k=your_public_key"
            |        height="300" width="500" frameborder="0"></iframe><br>
            |    <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            |    </textarea>
            |    <input type="hidden" name="recaptcha_response_field"
            |        value="manual_challenge">
            | </noscript>

            br
            .control-group
              .controls
                button.btn.btn-success(type="button") #{lingua.Submit}
        
        hr

        h4 #{lingua.Address} 
        p
          strong Haus-Voithofer
          br
          | Neudaugasse 243
          br
          | 5741 Neukirchen am Großvenediger
          br
          | Austria
        
      div.span4
        
        h3 Links
        hr
        ul
          li
            a(href='http://www.neukirchen.at/', target='_BLANK') Neukirchen am Großvenediger
          li
            a(href='http://www.hohetauern.at/', target='_BLANK') Nationalpark Hohe Tauern
          li
            a(href='http://www.skischule-neukirchen.at/', target="_BLANK") Skischule Neukirchen