extends layout

block content
  
  // Main hero unit for a primary marketing message or call to action
  div.hero-unit
    h1 #{lingua.Title}
    p
      | #{lingua.Slogan}

  div.row
    div.span4.center
      h3 
        | #{lingua.Winter}
      img.img-rounded(data-src='./assets/images/wildkogel-winter.gif',alt='Wildkogel', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')
    div.span4.center
      h3
        | #{lingua.Summer}
      img.img-rounded(data-src='./assets/images/wildkogel.gif',alt='Wildkogel', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')
    div.span4.center
      h3 
        | #{lingua.Autumn}
      img.img-rounded(data-src='./assets/images/wildkogel-autum.gif',alt='Wildkogel', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')