doctype 5
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Haus-Voithofer.com')
    meta(name='author', content='Henrik Binggl')
    if mode == 'production'
      link(rel='stylesheet', href='./assets/stylesheets/index.min.css')
    else
      link(rel='stylesheet', href='./assets/stylesheets/index.css')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    | <!--[if lt IE 9]>  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>  <![endif]-->

    link(rel='shortcut icon', href='./assets/images/favicon.ico')

    script(src='./assets/js/lazyload.min.js')
  body

    // NAVBAR
    // ==================================================
    div(class='navbar navbar-inverse')
      div(class='navbar-inner')
        
        // Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize.
        
        a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        
        //a(class='brand', href='#')
        //  | Haus Voithofer
        
        // Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse.
        
        div.nav-collapse.collapse
          ul.nav
            li(class='#{activeNavigaton.index}')
              a(href='/') #{lingua.Title}
            li(class='#{activeNavigaton.rooms}')
              a(href='/rooms') #{lingua.Rooms}
            li(class='#{activeNavigaton.flat}')
              a(href='/flat') #{lingua.Flat}
            li(class='#{activeNavigaton.location}')
              a(href='/location') #{lingua.Location}
            li(class='#{activeNavigaton.contact}')
              a(href='/contact') #{lingua.Contact}

          ul.nav.pull-right
            li.small
               a(href='?l=de-AT') 
                span #{lingua.DE}&nbsp;
                img(src='./assets/images/de.png',alt='switch language de-AT')
            li.small
              a(href='?l=en-US')
                span #{lingua.EN}&nbsp;
                img(src='./assets/images/en.png',alt='switch language en-US')
        
    div#headerimage.carousel
      div.carousel-inner
        div.item.active
          img(src='./assets/images/panorama-winter.jpg', alt='Neukirchen am Gro&szlig;venediger', id='imageBackground')
          div.container
            div.carousel-caption
              h1 Haus Voithofer
              p.lead Neukirchen am Gro&szlig;venediger
   
    div.container
     
      block content
          
      hr 

      div#socialshareprivacy.pull-right

      footer
        p 
          | &copy; Haus-Voithofer 2013 | 
          span #{version}
    
    if mode == 'production'
      script(data-main='assets/js/require', src='./assets/js/require.js?_v=#{version}') 
    else
      script(data-main='app/config', src='./app/libs/require.js?_v=#{version}')  
    script
      var i18n = {
        requiredFields: "#{lingua.requiredFields}",
        wrongCaptcha: "#{lingua.wrongCaptcha}",
        notificationError: "#{lingua.notificationError}"
      }; 
    
    if mode == 'production'
      script(src="http://www.google-analytics.com/urchin.js", type="text/javascript")
      script(type="text/javascript") 
        _uacct ="UA-3390471-1";
        urchinTracker(); 
