extends layout

block content

  ul.breadcrumb
        li
          a(href='/') Home
          span.divider /
       
        li.active #{lingua.Rooms}

  div.row
      div.span8
        h2
          | #{lingua.Rooms}

        hr

        div.row
          div.span6
            p #{lingua.RoomsIntro}
            p 
              | #{lingua.ImagesInGallery} &nbsp;
              a(href='http://www.flickr.com/photos/haus-voithofer/sets/72157623588513057/show/', target='_BLANK')
                | &raquo; #{lingua.Gallery}

          div.span2.pull-right
            img.img-rounded(data-src='./images/room_teaser.gif',alt='Room Teaser', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')

        br

        table.table.table-condensed.table-striped
          colgroup
            col(width='50%')
            col(width='50%')
          thead
            tr
              th(colspan=2)  #{lingua.BasicOptions}
          tbody
            tr
              td 
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option1}
              td
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option2}
            tr
              td 
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option3}
              td
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option4}
            tr
              td 
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option5}
              td
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option6}
            tr
              td 
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option7}
              td
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option8}
            tr
              td 
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option9}
              td
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option10}
            tr
              td 
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option11}
              td
                img(src='./images/active.png', alt='active')
                &nbsp;
                | #{lingua.Option12}

        br


        h3 Links
        hr
        ul
          li
            a(href='http://www.neukirchen.at/', target='_BLANK') Neukirchen am Großvenediger
          li
            a(href='http://www.hohetauern.at/', target='_BLANK') Nationalpark Hohe Tauern
          li
            a(href='http://www.skischule-neukirchen.at/', target="_BLANK") Skischule Neukirchen


      div.span4
        
        h3 #{lingua.Prices}
        hr
        p 
          | #{lingua.PriceFlatText} 
        p.center
          button.btn.btn-large.btn-success
            &euro; 25,-- #{lingua.PricePerPersonNight}

        br

        h3 #{lingua.Gallery}
        hr
        div.row
          div.span2.center
            a(href='http://flickr.com/photos/48747644@N07/4466389853', target='_BLANK')
              img.img-rounded(data-src='http://farm5.static.flickr.com/4023/4466389853_00b82556bc_t.jpg',alt='Gallery', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')
          div.span2.center
            a(href='http://flickr.com/photos/48747644@N07/4467163900', target='_BLANK')
              img.img-rounded(data-src='http://farm5.static.flickr.com/4012/4467163900_4547e2c6b4_t.jpg',alt='Gallery', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')
        br
        div.row
          div.span2.center
            a(href='http://flickr.com/photos/48747644@N07/4466389585', target='_BLANK')
              img.img-rounded(data-src='http://farm3.static.flickr.com/2697/4466389585_c5309e0170_t.jpg',alt='Gallery', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')
          div.span2.center
            a(href='http://flickr.com/photos/48747644@N07/4467163576', target='_BLANK')
              img.img-rounded(data-src='http://farm5.static.flickr.com/4022/4467163576_80468b486e_t.jpg',alt='Gallery', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')
        br
        div.row
          div.span2.center
            a(href='http://flickr.com/photos/48747644@N07/4467163510', target='_BLANK')
              img.img-rounded(data-src='http://farm5.static.flickr.com/4015/4467163510_560fafac38_t.jpg',alt='Gallery', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')
          div.span2.center
            a(href='http://flickr.com/photos/48747644@N07/4466389267', target='_BLANK')
              img.img-rounded(data-src='http://farm5.static.flickr.com/4044/4466389267_0a67343ebd_t.jpg',alt='Gallery', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', onload='lzld(this)', onerror='lzld(this)')

        